.main-container {
    display: flex;
    height: 100vh; 
    width: 100%;

    /* object-fit: contain; */
    color: dodgerblue;
    margin: 5px;
    
   
}

.size-guide {
 
    width: 15%;    
    color: purple;
}

.watch-face-lg {
    display: flex;
    object-fit: contain;
    max-width: 50%;
    height: 730px;
    padding: 47px;
   
}

.face-lg {
 
    object-fit: contain;
    max-width: 100%;
} 
.cart-block {
    display: flex;
    
    width: 35%;
    color: seagreen;
}