.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh; 
    width: 100%;



    margin: 5px;
    
   
}

.size-guide {
 
    width: 15%;    
    color: purple;
}

.watch-face-lg {
    display: flex;
    object-fit: contain;
    max-width: 50%;
    height: 730px;
    padding: 47px;
   
}

.face-lg {
 
    object-fit: contain;
    max-width: 100%;
} 
.cart-block {
    display: flex;
    /* object-fit: contain; */
    width: 35%;
    color: seagreen;
    /* overflow: hidden; */
}

.fit {
    width: 100%;
    object-fit: contain;
}