.logo-header {
    display: flex;
    justify-content: center;
  
    height: 63px;
    width: 100%;
    background-color: black;
}

.cart-body {
    display: flex;
    margin: 50px;
}

.left-form {
    display: flex;
    width: 55%;
    height: 100vh;
}

.cart-right {
    width: 45%;
    /* height: 100vh; */
    background-color: dodgerblue;
    
}

.test, .testt {
    display: flex;
}

.test-style {
    height: 100px;
    
}