 .fixed-nav {
    display: relative;
    /* position: fixed; */
} 
.header-top-navbar {
    background-color: #2c2c2c;
    text-align: center;
    color: #fff;
    font-size: 12px;
    line-height: 1; 
    text-transform: uppercase;
    /* font-family: "Gotham-Bold"; */
    letter-spacing: 1px;
    padding: 25px 0;    
    
    /* display: none; */
    width: 100%;
    height: 20px;
}

.show-grid{
    display: flex;
}

#basic-nav-dropdown {
    font-size: 14px;
    
}

.li.dropdown {
    list-style-type: none;
}
.header-nav-left{
    display: flex;
    /* justify-content: center;     */
     padding: 10px; 
    max-width: 100%;    
}

/* .header-nav-left li {
    
} */

.header-nav-right{
    display: flex;
    /* justify-content: center; */   
     padding: 10px; 
    max-width: 100%; 
}
.header-nav-div {
    display: flex;
    justify-content: center;
}
.header-nav-logo {
    height: 42.8px;
    max-width: 100%;
}

.profile, .cart, .search {
    height: 10px;
    margin-top: 5px;
    margin-right: 5px;
    
}



